$colorBc:#198754;
$colorBcmain:white;
@mixin h {
    height: 100px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient(orange, rgb(205, 169, 50));
    
}
#grid-area{
    display: grid;
    grid-template-areas: "menu menu menu"
                         "contenido contenido contenido"
                         "contacto contacto contacto"
                         "footer footer footer";
}

nav{
    grid-area: menu;
    display: flex;
}
   
main{
    background-color:$colorBcmain;
    grid-area: contenido;
    text-align: center;
}
.contenido{
    
        height: 150px;
        margin-bottom: 10px;
        color: white;
        text-align: center;
       
         width: 100%;
         background: linear-gradient(orange,rgb(205, 169, 50) );
        }
       


.obrasSociales{
   
    display: flex;
    background-color:#ccc ;
    padding: 20px 0;

    justify-content: space-between;

}
.prepagas{
    height: 50px;
    background-color:#ccc;
    
    justify-items: start;
    
}
.titulo{
    @include h;
  
}
#perfumeria{
    width: 100%;
    margin:1% 2%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    
    gap: 20px;
    text-align: center;
    background-position: center;
    & a{
        background-color: $colorBc;
        color: white;
        border-radius: 0;
        text-decoration: none;
        padding: 5px;


        }
    & a:hover{
        background-color: #00AAE4;
        border-radius: 5px;


         }
    & img:hover {
        transform: scale(1.2, 1.2);
      }
      

}
#ofertas{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 5% 10%;
    gap: 20px;
    text-align: center;
    & a{
        background-color: $colorBc;
        color: white;
        border-radius: 0;
        text-decoration: none;
        padding: 5px;
       
    }


    
    & a:hover{
        background-color: #00AAE4;
        border-radius: 5px;
    }
    & div:hover{
        transform: scale(1.2, 1.4);

    }
    
    
}

aside{
    margin-top: 5px;
    grid-area: contacto;
    background-color: $colorBc;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#198754, yellowgreen);
    .contacto{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        & ul{
            align-items: center;
            list-style: none;
            line-height: 30px;

        }
    }
}

.parrafo{
    line-height: 20px;
    text-align: center;
    & h3{
      margin-bottom: 10px;
  
    }
    & p{
      margin-bottom: 40px;
    }
  }
  .empresa{
    background-color: black;
    background-image: url("../assets/img/interior-farmacia.jpg");
    background-blend-mode: hard-light;
}
  
  .mision{
    
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    margin:0 5%;
    align-items: stretch;
    color:white ;
    
  }
  .iconos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 10px;
    justify-content: center;
    color: white;
   
  }
.formulario{
    margin: 10px 20px;
    & .contactanos{
        height: 100px;
        margin-bottom: 10px;
        color: white;
        justify-items: center;
        width: 100%;
        background: linear-gradient(orange, rgb(205, 169, 50));
    
      }

}
footer{
    grid-area: footer;
    
   
    text-align: center;
   
    background-color: black;
    color: white;
   



}
@media(max-width:768px){
    .contacto{
        flex-direction: column;
        & ul{
            line-height: 20px;
            list-style: none;
            margin-bottom: 10px;

        }
        & iframe{
            width: auto;
        }
    }
    .obrasSociales{
        display: grid;
        grid-template-columns:45% 45%;
        gap: 5px;
        margin: 0 auto;
         }
    .prepagas{
        text-align: center;
    }
    #ofertas{
        grid-template-columns: none;
    }
    #perfumeria{
        grid-template-columns: none;
    }
    .mision{
        grid-template-columns: none;
    }
    .footer{
        background-color: $colorBcmain;
        color: black;
    }
}